---
import TableOfContents from "../SideNav/TableOfContents.svelte";
import "./article.scss";

import ArticleHeader from "./ArticleHeader.svelte";
import type { MarkdownHeading } from "astro";

type Props = {
    headings: MarkdownHeading[];
    frontmatter: any; // TODO: Type
}
const { headings, frontmatter } = Astro.props as Props;

---

<div id="article-wrapper">
    <article>
        <ArticleHeader title={frontmatter.title} excerpt={frontmatter.excerpt}/>
        <slot/>
    </article>
    <aside class="toc-trigger">
        <TableOfContents maxDepth={2} headings={headings}/>
    </aside>
</div>

<style lang="scss">
    #article-wrapper {
        margin-block: var(--spacing-12);
        margin-inline: auto;

        grid-column: 2 / -1;
        grid-row: 2;

        display: flex;

        min-height: 100vh;
    }

    article {
        max-width: 75ch;
        padding-inline: var(--spacing-5);
    }
</style>
