article {
    font-family: var(--font-body);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* HEADINGS */
article {

    > * + * {
        margin-block: var(--spacing-7);
    }

    astro-island > p {
        color: lime;
    }

    // TODO!: Fix spacig between headings
    h1,h2,h3,h4,h5,h6 {
        // TOOD: Margins & line height
        margin-top: var(--spacing-14);
        margin-bottom: var(--spacing-8);
        line-height: var(--spacing-8);
    }
    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
        text-decoration: none;
        color: inherit;
        position: relative;

        &::before {
            position: absolute;
            left: -1.5ch;
            content: '#';
            margin-right: var(--spacing-2);
            color: var(--theme-accent);
            color: hsl(var(--color-gray-80));
            color: transparent;
            transition: color 0.15s ease-in-out;
        }
        &:hover::before {
            content: '#';
            color: hsl(var(--color-gray-80));
        }
    }
    /*h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
        &::before {
            color: hsl(var(--color-text));
        }
    }*/

    // TODO: Other style for < h3/h4
    h1 {
        font-weight: 600;
        font-size: 2.5rem;
    }
    h2 {
        font-weight: 600;
        font-size: 2.25rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.875rem;
    }
    h5 {
        font-size: 1.75rem;
    }
    h6 {
        font-size: 1.625rem;
    }

    p, ol, ul, img {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: var(--spacing-7);
        font-weight: 400;
    }

    p + ul {
        margin-top: -1rem;
    }

    // Typo overrides
    // TODO: NEED?
    .lead { font-size: 1.214rem; } // Use for leading paragraph -> "excerpt"
    .hug { margin-top: 0; }
}

/* LINKS */
article a {
    color: var(--theme-accent);
    //text-decoration: underline;
    //text-underline-offset: var(--spacing-1);
    font-weight: 600;

    &:hover {
        // TODO: Hover state
        opacity: 80%;
    }

    /* Add icon to external links */
    &[href^="http://"]:after,
    &[href^="https://"]:after {
        display:inline-block;
        content: " ↗";
        margin-inline: var(--spacing-1);
        text-decoration: none;
    }
    &[href^="https://deta.space/docs"]:after,
    &[href^="http://deta.space/docs"]:after,
    &[href^="//deta.space/docs"]:after {
        content: '';
        margin: unset;
    }

}

/* LISTS */
article {
    // Spacing
    > ul, > ol {
        margin-block: var(--spacing-6);
    }
    ul, ol {
        ul, ol {
            padding-left: var(--spacing-4);
        }
    }

    ul li {
        list-style-type: disc;
        list-style-position: inside;

        &::marker {
            //color: var(--theme-accent);
        }

    }
    ol, li {
        list-style-type: decimal;
        list-style-position: inside;

        &::marker {
            color: var(--theme-text);
            font-weight: 600;
        }
    }
}

/* MEDIA */
article p img {
    width: 100%;
    height: auto;
    border-radius: var(--rounded-3);
}

/* CALLOUTS */
article blockquote {
    background: hsl(var(--color-base-blue-dark), 90%);
    background: linear-gradient(-20deg, hsl(var(--color-base-blue), 92%), hsl(var(--color-base-blue-dark), 91%));
    border: 2px solid hsl(var(--color-base-blue-dark), 60%);
    border: 2px solid hsl(var(--color-base-blue-dark), 80%);
    line-height: 1.5rem;
    margin: var(--spacing-7) 0;
    border-radius: 7px;
    padding-inline: var(--spacing-6);
    padding-block: var(--spacing-4);
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {margin:0;}
    /*margin-top: 1.5rem;
    margin-bottom: 1.5rem;*/
    p + ul {
        margin-top: 0.5rem;
    }
}

/* FIX ME, Table styling */
article table {
    position: relative;
    --padding-block: 1rem;
    --padding-inline: 2rem;
    line-height: 1.5;
    font-size: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    border-collapse: collapse;
    margin-bottom: var(--spacing-7);
}

/* FIX ME, table code styling. Should have alternating colors */

article code {
    padding-block: var(--spacing-2);
}

article td, th {
    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
    text-align: left;
}

article td {
    font-family: var(--font-mono);
}

/* CODE */
main pre {
    padding-block: var(--spacing-4);
    padding-inline: var(--spacing-5);
    border-radius: 10px;
    margin-bottom: var(--spacing-7);
    // TODO: FIX OVERFLOW
}



/*
main pre code span {
    display: inline;
    width: 100%;
}

main pre code span span {
    display: inherit;
    width: 100%;
}
*/

main p code {
    padding-inline: var(--spacing-2);
    padding-top: 0.05rem;
    padding-bottom: 0.15rem;
    border-radius: 4px;
    background: var(--theme-code-inline-bg);
    color: var(--theme-code-inline-text);
    font-size: 1rem;
}

main p a code {
    color: var(--theme-text-accent);
}

html.theme-dark main p code {
    background: hsl(var(--color-base-blue), 5%);
}

main p a {
    opacity: 90%;
}

main table a {
    opacity: 90%;
}
