# build output
dist/

.turbo
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Do allow versioning of .vscode/ directory itself, if we want to version some example files or
# extensions.json.
.vscode/settings.json
