:root {
	--font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	--font-body: Inter Var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", system-ui, var(--font-fallback);
	--font-mono: 'Cartograph', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
		'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

	/*
   * Variables with --color-base prefix define
   * the hue, and saturation values to be used for
   * hsla colors.
   *
   * ex:
   *
   * --color-base-{color}: {hue}, {saturation};
   *
   */

	--color-base-white: 0, 0%;
	--color-base-black: 240, 100%;
	--color-base-gray: 350, 5%;
	--color-base-blue: 332, 84%;
	--color-base-blue-dark: 212, 72%;
	--color-base-green: 158, 79%;
	--color-base-orange: 22, 100%;
	--color-base-purple: 269, 79%;
	--color-base-red: 351, 100%;
	--color-base-yellow: 41, 100%;

	/*
   * Color palettes are made using --color-base
   * variables, along with a lightness value to
   * define different variants.
   *
   */

	--color-gray-5: var(--color-base-gray), 5%;
	--color-gray-10: var(--color-base-gray), 10%;
	--color-gray-20: var(--color-base-gray), 20%;
	--color-gray-30: var(--color-base-gray), 30%;
	--color-gray-40: var(--color-base-gray), 40%;
	--color-gray-50: var(--color-base-gray), 50%;
	--color-gray-60: var(--color-base-gray), 60%;
	--color-gray-70: var(--color-base-gray), 70%;
	--color-gray-80: var(--color-base-gray), 80%;
	--color-gray-90: var(--color-base-gray), 90%;
	--color-gray-95: var(--color-base-gray), 95%;

	--color-blue: var(--color-base-blue), 61%;
	--color-blue-dark: var(--color-base-blue-dark), 39%;
	--color-green: var(--color-base-green), 42%;
	--color-orange: var(--color-base-orange), 50%;
	--color-purple: var(--color-base-purple), 54%;
	--color-red: var(--color-base-red), 54%;
	--color-yellow: var(--color-base-yellow), 59%;

    /* Spacing is incremented in 0.25rem steps TODO: Generate?*/
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-13: 3.25rem;
    --spacing-14: 3.5rem;
    --spacing-15: 3.75rem;
    --spacing-16: 4rem;
    --spacing-17: 4.25rem;
    --spacing-18: 4.5rem;
    --spacing-19: 4.75rem;
    --spacing-20: 5rem;

    /* ROUNDEDNESS TODO: Generate? */
    --rounded-1: 0.25rem;
    --rounded-2: 0.5rem;
    --rounded-3: 0.75rem;
    --rounded-4: 1rem;
    --rounded-5: 1.25rem;
    --rounded-6: 1.5rem;
    --rounded-7: 1.75rem;
    --rounded-8: 2rem;

    /* TMP fix sidebar -> move to dynamic */
    --header-height: 72px;
    --sidenav-heigt: calc(100vh - var(--header-height));
    --table-of-contents-breakpoint: calc(70ch + 10ch); /* Point at which toc moves to aside*/

    --sideNav-width: 26ch;
}

:root {
	color-scheme: light;
	--theme-accent: hsla(var(--color-blue), 1);
	--theme-text-accent: hsla(var(--color-blue), 1);
	--theme-accent-opacity: 0.15;
	--theme-divider: hsla(var(--color-gray-90), 0.5);
	--theme-text: hsla(var(--color-gray-10), 1);
	--theme-text-light: hsla(var(--color-gray-40), 1);
    --theme-sidenav: hsla(var(--color-gray-95), 1);
    --theme-sidenav: rgb(247 245 243);


	/* @@@: not used anywhere */
	--theme-text-lighter: hsla(var(--color-gray-80), 1);
	--theme-bg: rgb(251 249 247);
	--theme-bg-hover: rgb(240 238 234);
	--theme-bg-offset: hsla(var(--color-gray-90), 1);
	--theme-bg-accent: hsla(var(--color-blue), var(--theme-accent-opacity));
	--theme-code-inline-bg: rgb(240 238 234);
	--theme-code-inline-text: var(--theme-text);
	--theme-code-bg: hsla(217, 19%, 27%, 1);
	--theme-code-text: hsla(var(--color-gray-95), 1);
	--theme-navbar-bg: rgb(251 249 247);
	--theme-navbar-height: 6rem;
	--theme-selection-color: hsla(var(--color-blue), 1);
	--theme-selection-bg: hsla(var(--color-blue), var(--theme-accent-opacity));
}

body {
	background: var(--theme-bg);
	color: var(--theme-text);
}

:root.theme-dark {
	color-scheme: dark;
	--theme-accent-opacity: 0.15;
	--theme-accent: hsla(var(--color-blue), 1);
	--theme-text-accent: hsla(var(--color-blue), 1);
	--theme-divider: hsla(var(--color-gray-5), 0.5);
	--theme-text: hsla(var(--color-gray-90), 1);
	--theme-text-light: hsla(var(--color-gray-80), 1);
    --theme-sidenav: hsla(var(--color-gray-10), 1);

	/* @@@: not used anywhere */
	--theme-text-lighter: hsla(var(--color-gray-40), 1);
	--theme-bg: rgb(28, 27, 27);
	--theme-bg-hover: rgb(50, 48, 47);
	--theme-bg-offset: hsla(var(--color-gray-5), 1);
	--theme-code-inline-bg: hsla(var(--color-gray-5), 100%);
	--theme-code-inline-text: hsla(var(--color-base-white), 100%, 1);
	--theme-code-bg: hsla(var(--color-gray-5), 1);
	--theme-code-text: hsla(var(--color-base-white), 100%, 1);
	--theme-navbar-bg: rgb(28, 27, 27);
	--theme-selection-color: hsla(var(--color-base-white), 100%, 1);
	--theme-selection-bg: hsla(var(--color-purple), var(--theme-accent-opacity));

	/* DocSearch [Algolia] */
	--docsearch-modal-background: var(--theme-bg);
	--docsearch-searchbox-focus-background: var(--theme-divider);
	--docsearch-footer-background: var(--theme-divider);
	--docsearch-text-color: var(--theme-text);
	--docsearch-hit-background: var(--theme-divider);
	--docsearch-hit-shadow: none;
	--docsearch-hit-color: var(--theme-text);
	--docsearch-footer-shadow: inset 0 2px 10px #000;
	--docsearch-modal-shadow: inset 0 0 8px #000;
}

::selection {
	background-color: hsl(var(--color-blue), 40%);
    color: hsl(var(--color-gray-30));
}
html.theme-dark ::selection {
    color: var(--theme-text-light);
}