---
import DateFns from 'date-fns';
import ChangelogsListLayout from '../../layouts/ChangelogsListLayout.astro';
import { extractDescription, formatDate, dateFormat } from '@/utils/changelogs';

// Collect changelogs
const markdown = await Astro.glob('./**/*.md')
const markdownX = await Astro.glob('./**/*.mdx')

const changelogs = [...markdown, ...markdownX]

// Sort by date
changelogs.sort((a, b) => {
    const aDate = DateFns.parse(a.frontmatter.date, dateFormat, new Date());
    const bDate = DateFns.parse(b.frontmatter.date, dateFormat, new Date());
    return bDate.getTime() - aDate.getTime(); 
});

---

<ChangelogsListLayout>
    <div class="list">
        {changelogs.map((changelog) => (
            <div class="date-view">
                <p class="date">{formatDate(changelog.frontmatter.date)}</p>
                <a class="changelog-block" href={changelog.url}>  
                    <div class="open-changelog">
                        <h3 class="title">{changelog.frontmatter.title}</h3>
                    </div>          

                    <p class="description">{changelog.frontmatter?.description || extractDescription(changelog)}</p>
                </a>
            </div>
        ))}
    </div>
</ChangelogsListLayout>

<style>
    .list {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 2rem;
    }

    .date-view {
        display: flex;
        flex-direction: column;
    }

    .open-changelog {
        display: flex !important;
        flex-direction: column !important;
    }

    .open-changelog, .open-changelog:hover, .open-changelog:focus, .open-changelog:visited {
        all: unset;
        cursor: pointer;
    }

    .open-changelog:hover .arrow {
        opacity: 1;
        left: -24px;
    }
    
    .arrow {
        position: absolute;
        opacity: 0;
        top: 0;
        left: -32px;
        transition: all 0.15s ease;
    }

    .changelog-block {
        position: relative;
        display: flex;
        gap: 8rem;
        justify-content: space-between;
        align-items: start;
        color: var(--theme-text);
        text-decoration: none;
    }

    @media (max-width: 768px) {
        .changelog-block {
            flex-direction: column;
            justify-content: flex-start;
            gap: 1rem; 
        }

        .description {
            max-width: 100% !important;
        }
    }

    .description {
        max-width: 256px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;
    }

    .title {
        max-width: 256px;
        font-weight: 500;
    	line-height: 2rem; /* 16px */
        margin-bottom: 0px;
    }
    
    .date {
        color: var(--theme-text-accent);
        margin-bottom: 0px;
    }
    
    .changelog-block:hover {
        text-decoration: none; 
    }

</style>