---
import DateFns from 'date-fns';
import ChangelogsListLayout from '../../layouts/ChangelogsListLayout.astro';
import { extractDescription, formatDate, dateFormat } from '@/utils/changelogs';

// Collect changelogs
const markdown = await Astro.glob('./**/*.md')
const markdownX = await Astro.glob('./**/*.mdx')

const changelogs = [...markdown, ...markdownX]

// Sort by date
changelogs.sort((a, b) => {
    const aDate = DateFns.parse(a.frontmatter.date, dateFormat, new Date());
    const bDate = DateFns.parse(b.frontmatter.date, dateFormat, new Date());
    return bDate.getTime() - aDate.getTime(); 
});

---

<ChangelogsListLayout>
    {changelogs.map((changelog) => (
        <div class="changelog-block">  
            <a class="open-changelog" href={changelog.url}>
                <h3 class="title">{changelog.frontmatter.title}</h3>
                <p class="date">{formatDate(changelog.frontmatter.date)}</p>
                <div class="arrow">→</div>
            </a>          

            <p class="description">{changelog.frontmatter?.description || extractDescription(changelog)}</p>
        </div>
    ))}
</ChangelogsListLayout>

<style>
    .open-changelog, .open-changelog:hover, .open-changelog:focus, .open-changelog:visited {
        all: unset;
        cursor: pointer;
    }

    .open-changelog:hover .arrow {
        opacity: 1;
        left: -24px;
    }
    
    .arrow {
        position: absolute;
        opacity: 0;
        top: 0;
        left: -32px;
        transition: all 0.15s ease;
    }

    .changelog-block {
        position: relative;
        display: block;
        color: var(--theme-text);
        text-decoration: none;
        margin-top: 1.25rem;
        margin-bottom: 2rem;
    }

    .title {
        margin-bottom: 0;
    }
    
    .date {
        display: block;
        margin-bottom: 0.5rem;
        color: var(--theme-text-accent);
    }
    
    .changelog-block:hover {
        text-decoration: none; 
    }

</style>