---
---

<footer>
	<p class="title">DETA ~ 2335</p>

	<p><a href="https://deta.space/legal">Legal</a> / <a href="https://deta.space/privacy">Privacy</a> / <a href="https://deta.space/terms">Terms</a></p>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.title {
		font-size: 1rem;
		font-weight: 500;
	}
</style>
