---
import type { MarkdownHeading } from "astro";
import * as CONFIG from "../config";

import TeletypeContainer from "../components/Teletype/TeletypeContainer.astro";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Footer from "../components/Footer/Footer.astro";
import "../styles/tailwind.css";
import SkipToContent from "@/components/Header/SkipToContent.astro";
import AstroLogo from "@/components/Header/AstroLogo.astro";
import ThemeToggle from "@/components/Header/ThemeToggle.svelte";
import HeaderLinks from "@/components/HeaderLinks.svelte";
import BlogHeader from "@/components/BlogHeader.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
---

<html dir="ltr" lang="en-us" class="initial">
  <head>
    <HeadCommon />
    <!-- TODO -->
    <!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
    <title>Space Blog</title>
  </head>

  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-y: overlay;
      overflow-x: hidden;
      display: grid;

      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }
  </style>

  <body
    class="h-full min-h-screen relative w-full block bg-seashell-50 dark:bg-seashell-1000"
    style="background-image: url(/blog_assets/clouds-bg.png);">
    <BlogHeader />

    <main class="px-4 py-16 md:py-24 md:max-w-4xl md:px-16 lg:px-24 md:rounded-xl md:mx-auto">
      <p class="text-seashell-500">
        A rundown of the latest releases, enhancements, design updates, and important bug fixes in
        your personal cloud.
      </p>
      <slot />
    </main>

    <Footer path={currentFile} />

    <TeletypeContainer />
    <script
      src="/other_assets/instant-page.js"
      type="module"
      integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
  </body>
</html>
