---
import type { MarkdownHeading } from "astro";
import * as CONFIG from "../config";


import TeletypeContainer from "../components/Teletype/TeletypeContainer.astro";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import "../styles/tailwind.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, "")}.md`;
---

<html dir="ltr" lang="en-us" class="initial">
  <head>
    <HeadCommon />
    <!-- TODO -->
    <!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
    <title>Space Changelogs</title>
  </head>


  <body class="h-full min-h-screen relative w-full block">
    <!-- <Header layout="changelogs" currentPage={currentPage} /> -->
    <main class="px-4 py-16 md:py-24 bg-seashell-50 dark:bg-seashell-900 md:max-w-4xl md:px-16 lg:px-24 md:rounded-xl md:mx-auto">
      <p>
        A rundown of the latest releases, enhancements, design updates, and important bug fixes in
        your personal cloud.
      </p>
      <slot />
    </main>

    <Footer path={currentFile} />

    <TeletypeContainer />
    <script
      src="/other_assets/instant-page.js"
      type="module"
      integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
  </body>
</html>
