---
import type { MarkdownHeading } from 'astro';
import * as CONFIG from '../config';

import '../styles/old-index.css';

import TeletypeContainer from '../components/Teletype/TeletypeContainer.astro';
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/pages${currentPage.replace(/\/$/, '')}.md`;
---

<html dir="ltr" lang="en-us" class="initial">
    <head>
        <HeadCommon />
        <!-- TODO -->
        <!-- <HeadSEO frontmatter={frontmatter} canonicalUrl={canonicalURL} /> -->
        <title>Space Changelogs</title>
        <style>
            :root {
                --max-width: 55em !important;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                overflow-y: overlay;
                overflow-x: hidden;
                display: grid;

                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed; 
            }


            .grid-main {
                padding: 4rem var(--gutter);
                display: flex;
                flex-direction: column;
                max-width: 56rem; 
                margin-left: auto;
                margin-right: auto;
                gap:2rem;
            }
            
            .intro {
                max-width: 24rem;
            }
        </style>
    </head>

    <body style="background-image: url(/changelog_assets/clouds-bg.png);">
        <Header layout="changelogs" currentPage={currentPage} />
        <main class="grid-main">
            <p class="intro">A rundown of the latest releases, enhancements, design updates, and important bug fixes in your personal cloud.</p>
            <slot />
        </main>
        <Footer path={currentFile} />

        <TeletypeContainer />
        <script src="/other_assets/instant-page.js" type="module" integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    </body>
</html>
